{% extends 'base.html' %}


   
{% block title %}
   All Categories 
{% endblock title %}



{% block content %}
    <link rel="stylesheet" href={{ url_for('meals.static', filename='css/categories.css') }}  />
        <div class="product-container">
            <div class="container">
                <div class="row">

                        {% for category in categories  %}
                        
                            <div class="col-sm-4">
                        <div class="product-card">

                            <div class="card-thumbnail">
                                <img class="img-responsive" src={{category.img_link}}>
                            </div>

                            <div class="card-content">
                                <div class="send">
  
                                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                                </div>
                                <h1 class="card-title">
								{{category.name}}
									</h1>
							<span>
                            {% if current_user.is_authenticated %}
                              {% if category in checker %}
                                    <a href="{{ url_for('meals.add_favorite_category', category_id = category.id) }}">Remove from favorite categories&#11088</a>
                                {% else %}
                                     <a href="{{ url_for('meals.add_favorite_category', category_id = category.id) }}"> Add to favorite categories &#128976</a>
                                {% endif %}  
                            {% endif %}
 							</span>
                                <h2 class="card-sub-title">
								 Yummy Meals
							</h2>
                                <p class="description">
                                   {{category.description}}
                                </p>
                                <p style="margin-top:20px;"><a href={{url_for('meals.meals_by_category' , c_id=category.id) }} >Recipes from this category</a></p>
                              
                                </ul>   
                            </div>
                        </div>
                    </div>
                        
                        {% endfor %}
                  
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
    
