<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('index.static', filename='css/base.css') }}"  />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" href={{ url_for('index.static', filename='media/logo1.png') }}>
   
   
    <title>  
    {% block title %}

    {% endblock title %}
    </title>  
    
    {% block links %}

    {% endblock links %}

</head>
<body>

    {% include 'header.html' %}

    <main class="main-content">

    {% block content %}

    {% endblock content %}

    </main>
  

    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
    
    <script src = {{url_for('index.static', filename='js/script.js') }} ></script>

    {% block scripts %}

    {% endblock scripts %}
</body>
</html>