

<link rel="stylesheet" href="{{url_for('index.static',filename='css/header.css') }}">

<header style="display:flex">   
 
  <h1><a style="display:flex;" href="/"><img width="321" height="70", src="{{url_for('index.static' ,  filename='media/Logo2-1.png') }}" ></a></h1>
  <h1> 
  {%if current_user.is_authenticated%}
  <img width="30" height="30", src="{{url_for('users.static' ,  filename='profile_pics/'+current_user.image_file) }}" alt="Avatar" class="avatar img-circle">
  	<a href="/user/user_profile/{{current_user.id}}">{{current_user.username}}  </a> 
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   {%if f_ship_requests %}
	      <a href="{{url_for('users.user_friend_requests')}}">	<img width="50" height="55", src="{{url_for('index.static' ,  filename='media/icon-request-152.gif') }}" alt="Avatar" class="avatar img-circle"><br><br></a>
	   {%endif %}
	{%endif%}
  </h1>

  
<div class="search-form">
<p class="head_search_txt">Search</p>
 <form  method = 'GET' action="{{url_for('meals.meal_search')}}">
    <input  class = "head_search_sbmit"type = 'submit' value="search"></input>
    <input class="head_search_inp" type='text' name="meal_name"></input>   
    <button style = "outline:none;" class="head_search_btn" type = 'submit'></button>
  </form>
</div> 
 
  <div id="nav-trigger" role="button">
    <div class="line l-01"></div>
    <div class="line l-02"></div>
    <div class="line l-03"></div>
    <div class="line l-04"></div>
  </div>

  
</header>

<!-- main-content -->



<nav id="side-nav">
  <ul class="nav_navigation">
    <li class="item-has-children">
      <a href="#0">User</a>
      <ul class="sub-menu">
    {% if  current_user.is_authenticated %}
      <li><a href="{{ url_for('users.logout') }}">Logout</a></li>
      <li><a href="{{ url_for('users.account_get') }}">Settings</a></li>
      <li><a href="{{ url_for('users.users_profiles' , u_id = current_user.id) }}">My profile</a></li>
      <li><a href="{{ url_for('users.new_recipe_get') }}">New Recipe</a></li>
      <li><a href="{{ url_for('users.user_friend_requests') }}">Friend Requests</a></li>
      <li><a href="{{ url_for('users.messages_get') }}" target="popup" onclick="window.open('http://127.0.0.1:5000/user/messages','popup','width=600,height=400'); return false;"> Private Messages (PM) </a></li>

	  
	  
	  
	  
    {% else %}
      <li><a href="{{ url_for('users.login') }}">Login</a></li>
      <li><a href="{{ url_for('users.register') }}">Register</a></li>
    {% endif %}
    
    
      </ul>
    </li> 
    <!-- item-has-children -->

    <li><a href="{{ url_for('meals.categories_list') }}">All Categories</a></li>
    <li><a href="{{ url_for('meals.areas_list') }}">All Areas</a></li>

  </ul> 
  <!-- nav_navigation -->

  <ul class="nav_navigation single-item-wrapper">
    <li><a href="#0"></a></li>
    <li><a href="{{ url_for('users.support_get') }}">Support</a></li>
  </ul>
  <!-- single-item-wrapper -->
  <hr/>
  <form class="form-inline" method = 'GET' action="{{url_for('meals.meal_search_by_username')}}">
    <label for='srch_by_username' class = 'badge badge-primary text-wrap' style="margin:10px 0" >>>> </label>
        <input id="srch_by_username" class="form-control mr-sm-2" type="search" placeholder="Search by username" aria-label="Search" name = "srch_user_username">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
	
	  <form class="form-inline" method = 'GET' action="{{url_for('meals.meal_search_by_ingredient')}}">
    <label for='srch_by_uingredient' class = 'badge badge-primary text-wrap' style="margin:10px 0" >>>></label>
        <input id="srch_by_ingredient" class="form-control mr-sm-2" type="search" placeholder="Search by ingredient" aria-label="Search" name = "srch_ingredient">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  <div class="nav_navigation socials">
    <a class="fa fa-github" href="https://github.com/Vlad-Harutyunyan/YummyMeals"></a>
    <a class="fa fa-google-plus" href="mailto:yummymealsbook@gmail.com"></a>
  </div>
  <!-- socials -->  
</nav>
