{% extends 'base.html' %}

{% block title %}
Home page
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{{url_for('index.static',filename='css/index.css') }}">

<div class="main_wrapper">

<div class='chat_sidebar' >


  <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
  

  <!-- Emoji Data -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>


        <script type="text/javascript" charset="utf-8">
          //Emojies
         
        // $('#em_trigger').emojiPicker('destroy');
  
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port+'/');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('user_leave', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg +'>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight); 
                    let cnt = data.clients_count
                    $('#onlineStatusChecker').html(`Online ${cnt} user`) ;
                }); 
                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg +'>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight); 
                    let cnt = data.clients_count
                    $('#onlineStatusChecker').html(`Online ${cnt} user`) ;
                });   
                  
                socket.on('message', function(data) { 
                    $('#chat').val($('#chat').val() + data.msg + '\n'); 
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                    }
                });
            });
        </script>

        <h1 style="font-size:30px;text-align:center;margin-bottom:10px;">Online chat</h1>
        <p id="onlineStatusChecker"></p>
         <textarea id="chat" cols="20" rows="33" style="width:100%;" disabled></textarea><br><br>
        {% if current_user.is_authenticated %}
          <input id="text" size="80" placeholder="Enter your message here" style="width:100%; height:35px;"><br><br>
        {% else %}  
          <p>Please <a href="{{url_for('users.register')}}">register</a>,or  <a href="{{url_for('users.login')}}">login</a> to leave comment !!</p>
        {% endif %}

</div>


<div class="cont s--inactive" >
  <!-- cont inner start -->
  <h1 style="font-size:30px;text-align:center;margin:20px auto;">Top Recipes</h1>

  <div class="cont__inner">


  {% for rec in range(tops|length)  %}
   <!-- el start -->
    <div class="el" >
      <div class="el__overflow">
        <div class="el__inner">
		{% if tops[rec].img_link != "default.jpg"%}
          <div class="el__bg" style="background:url('{{tops[rec].img_link}}');background-size: cover"></div>
		{% else%}
		   <div class="el__bg" style="background:url({{url_for('meals.static' , filename = "default.jpg")}});background-size: cover"></div> 
		{% endif %}
          <div class="el__preview-cont">
            <h2 class="el__heading">{{tops[rec].name}}</h2>
          </div>
          <div class="el__content">
            <div class="el__text">{{tops[rec].name}}</div>
            <div class="el__text_descr">{{tops[rec].instructions}}</div>
            <div class="el__text_btn" >
            <a class="btn btn-info" href={{url_for('meals.meal_info' , m_id=tops[rec].id)}}> More info </a>
            </div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index" style="margin-bottom: 120px;">
        <div class="el__index-back">{{rec+1}}</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="{{rec+1}}">{{rec+1}}</div>
        </div>
      </div>
    </div>
    <!-- el end -->
  
  {% endfor %}

  </div>
  
  <div class="responsive_top5">
  {% for rec in range(tops|length)  %}
   <!-- el start -->
   <div class="resp_item_main_block">
           <h3>{{tops[rec].name}} -(top {{rec+1}})</h3>
		{% if tops[rec].img_link != "default.jpg"%}
        <img class="top_sect_img" src="{{tops[rec].img_link}}" />
		{% else%}
        <img class="top_sect_img" src="{{url_for('meals.static' , filename = "default.jpg")}}" />
		{% endif %}
          <br/>
          <a class="btn btn-info" href={{url_for('meals.meal_info' , m_id=tops[rec].id)}}> More info </a>
   </div>

  {% endfor %}

  
  </div>
  <!-- cont inner end -->
</div>

</div>


{% endblock content %}
