{% extends 'base.html' %}

{% block content %}

total {{friends|length}} friends <br/>
{% for fellow in friends %} 
				{% if current_user.id == fellow.receiving_user_id %}
					<img src="{{url_for('users.static' ,  filename='profile_pics/'+fellow[0].image_file) }}" alt="Avatar" class="avatar img-circle">
					<a href="{{url_for('users.chatroom_get', user_id=current_user.id , friend_id = fellow.requesting_user_id)}}">{{fellow[0].username}}<br><span class="text-muted username"</a>
            	{%else%}										
					{%for usr in user_extra%}
							{% if usr.id == fellow.receiving_user_id%}																
								<img src="{{url_for('users.static' ,  filename='profile_pics/'+usr.image_file) }}" alt="Avatar" class="avatar img-circle">						
					            <a href="{{url_for('users.chatroom_get', user_id=fellow.receiving_user_id , friend_id = current_user.id)}}">{{usr.username}}<br><span class="text-muted username"</a>
							{%endif%}
					{%endfor %}			
				{% endif%}
{% endfor %}

{% endblock content %}