{% extends 'base.html' %}

{% block content %}

    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
                <legend class="border-bottom mb-4">Add Your Recipe </legend>
                select area
                <select name ='area'>
                    {% for area in  context.areas %}
                        <option value={{area.name}}>
                        {{area.name}}
                        </option>
                    {% endfor %}
                </select>

                select category
                <select name='category'>
                    {% for categ in  context.categ %}
                        <option value={{categ.name}}>
                        {{categ.name}}
                        </option>
                    {% endfor %}
                </select>
               
                <div class="form-group">
                title
                <input type="text" name='title'></input>
                 content
                <input type="text" name='content'></input>

                </div>

            </fieldset>
            
            Select ingredients <br/>
                {% for ingr in context.ingr %}
                <input type="checkbox" id={{ingr.name}} name="ingredients" value="{{ingr.name}}">
                <label for={{ingr.name}}> {{ingr.name}}</label>
                {% endfor %}

             <input type="submit"  value='add recipe'></input>
        </form>
    </div>

{% endblock content %}