{% extends 'base.html' %}

{% block content %}

<style>
.content-section{width:40%;margin:0 auto; }

</style>

<div class="content-section">

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    {{message[1]}}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="profile-header-background" style="background:url({{url_for('users.static' , filename = "profile_pics/Login3.png")}}); width:100%; height:420px;background-size:cover;margin:0px auto;opacity:0.8;"></div> 
<br><br>
 <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }} 
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Contact for support </legend>
                    <div class="form-group">
                        {{ form.content.label(class="form-control-label") }}

                        {% if form.content.errors %}
                            {{ form.content(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}  
                            {{ form.content(class="form-control form-control-lg") }}
                        {% endif %}

                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form> 
</div>
{% endblock content %}