{% extends 'base.html' %}

{% block content %}

    
<link rel="stylesheet" href= {{url_for('users.static' , filename = "user_profile.css" ) }} > </link>
<div class="container">   
    <div class="user-profile">
        <div class="profile-header-background" style="background:url({{url_for('meals.static' , filename = "default.jpg")}}); width:100%; height:350px;background-size:cover;margin:0px auto;"></div> 
        <div class="row">
            <div class="col-md-4">
                <div class="profile-info-left">
                    <div class="text-center">
                        <img src="{{url_for('users.static' ,filename='profile_pics/'+user.image_file) }}" alt="Avatar" class="avatar img-circle">
                        <h2>{{user.username}}</h2>
                    </div>
                     <div class="action-buttons">
                        <div class="row">
                        {% if user.id == current_user.id %}
                           <div class="col-xs-6">
                                <a href="{{url_for('users.account_get')}}" class="btn btn-success btn-block"><i class="fa fa-plus-round"></i> Settings </a>
                            </div>
                        {% endif %}

                        {% if  user.id != current_user.id and not check_fship %}
                            <div class="col-xs-6">
                                <a href="{{url_for('users.add_to_friends' , f_id = user.id)}}" class="btn btn-primary"><i class="fa fa-plus-round"></i> Send friend request</a>
                            </div> 
                        {% elif user.id != current_user.id and  not check_fship.status %}
                             <div class="col-xs-6">
                                <a href="{{url_for('users.add_to_friends' , f_id = user.id)}}" class="btn btn-danger"><i class="fa fa-plus-round"></i> Remove friend request </a>
                            </div>
                        {% elif user.id != current_user.id and  check_fship.status %}
                            <div class="col-xs-6">
                                <a href="{{url_for('users.add_to_friends' , f_id = user.id)}}" class="btn btn-danger"><i class="fa fa-plus-round"></i> Remove from friends </a>
                            </div>
                        {% endif %}
                        
                        </div>
                    </div>
                    <div class="section">
                        <h3>About Me</h3>
                        <p>Email - {{user.email}} </p>
                    </div>
                    <div class="section">
                        <h3>Statistics</h3>
                        <p><span class="badge">{{user_meals|length}}</span> Recipe Added</p>
                        <p><span class="badge">{{ufm|length}}</span> Favorites Recipes</p>
                        <p><span class="badge">{{comments|length}}</span> Comments</p>
                        <p><span class="badge">{{ufc|length}}</span> Favorites Categories</p>
			<p><span class="badge">{{friends|length}}</span> Friends</p>    
                    </div>
                    <div class="section">
                        <h3>Social</h3>
			{%if f_ship_requests %}
				<br>
				<a href="{{url_for('users.user_friend_requests')}}">A friend request is awaiting for your approval!<br><br></a>
			{%endif%}
			<style>	#more {display: none;}	</style>
			<p><span id="dots"></span><span id="more">
                         {% for usr in user_extra %}
                          	{% if usr.id != current_user.id %}
                          		<a href="{{url_for('users.users_profiles', u_id = usr.id)}}">{{usr.username}}<br></a>
                          	{% endif%}
                          {% endfor %}
                          <br>
                          </span></p>
                          <button onclick="myFunction()" id="myBtn">Click to expand our users list</button>

                          <script>
                          function myFunction() {
                            var dots = document.getElementById("dots");
                            var moreText = document.getElementById("more");
                            var btnText = document.getElementById("myBtn");
                          
                            if (dots.style.display === "none") {
                              dots.style.display = "inline";
                              btnText.innerHTML = "Click to expand our users list"; 
                              moreText.style.display = "none";
                            } else {
                              dots.style.display = "none";
                              btnText.innerHTML = "Close"; 
                              moreText.style.display = "inline";
                            }
                          }
                          </script>
			    
			    
			    
			    
			    
			    
			    
			    
			    
			    
			    
			    
			    
			    
			    
			    
			    
			    
			    
                        <ul class="list-unstyled list-social">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-info-right">
                    <ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom">
                        <li class="active"><a href="#activities" data-toggle="tab">Comments</a></li>
                        <li><a href="#followers" data-toggle="tab">My Favorite Recipes</a></li>
                        <li><a href="#following" data-toggle="tab">My Recipes</a></li>  
                        <li><a href="#followed" data-toggle="tab">Favorite Categories</a></li>
			<li><a href="#friendy" data-toggle="tab">Friends</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- activities -->
                                 <div class="tab-pane fade in active" id="activities">

                       {% for comment in comments %}
                            <div class="media activity-item">
                                <a href="#" class="pull-left">
                                    <img src={% if comment.meal.author_id != 1%}{{url_for('meals.static' , filename = comment.meal.img_link )}}{% else %}{{comment.meal.img_link}}{% endif %} alt="Avatar" class="media-object avatar">
                                </a>
                                <div class="media-body">
                                    <p class="activity-title"><a href="{{url_for('users.users_profiles', u_id=u_id)}}">{{user.username}}</a> comment <a href="{{url_for('meals.meal_info' , m_id = comment.meal.id )}}"> {{comment.meal.name}} </a> <small class="text-muted">- {{comment.date_posted|timeagofilter}}</small></p>
                                    <small class="text-muted">{{comment.date_posted|formatdatetime}}</small>
                                </div>
                            </div>
                       
                       {% endfor %}
                       </div>
                        <!-- followers -->
                        <div class="tab-pane fade" id="followers">
                        {% for favorite in ufm %}  
                            <div class="media user-follower">
                                <img src="{% if favorite.meal.author_id != 1%}{{url_for('meals.static' , filename = favorite.meal.img_link )}}{% else %}{{favorite.meal.img_link}}{% endif %}" class="media-object pull-left">
                                <div class="media-body">
                                    <a href="{{url_for('meals.meal_info' , m_id = favorite.meal.id)}}">{{favorite.meal.name}}<br><span class="text-muted username">@{{favorite.meal.category.name}}</span></a>

                                        {% if current_user.id == user.id %}
                                                <a  style = "color:#fff" href = "{{url_for('meals.add_favorite' , meal_id = favorite.meal.id)}} " type="button" class="btn btn-sm btn-toggle-following pull-right"><i class="fa fa-checkmark-round"></i> <span>Remove</span></a>
                                        {% endif %}

                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        
                        <!-- end followers -->
                        <!-- following -->
                        <div class="tab-pane fade" id="following">
                        {% for meal in user_meals %}
                            <div class="media user-following">
                                    <img src={% if meal.author_id != 1%}{{url_for('meals.static' , filename = meal.img_link )}}{% else %}{{meal.img_link}}{% endif %} alt="User Avatar" class="media-object pull-left">
                                    <div class="media-body">
                                        <a href="{{url_for('meals.meal_info'  , m_id = meal.id)}}">{{meal.name}}<br><span class="text-muted username">@{{meal.category.name}}</span></a>
                                       {% if current_user.id == user.id %}
                                            <!--
                                         <a href="{{url_for('users.remove_meal' , m_id = meal.id , u_id = user.id)}}" style="color:#fff" type="button" class="btn btn-sm btn-danger pull-right"><i class="fa fa-close-round"></i> Delete </a>
                                            -->
                                       {% endif %}
                                    
                                    </div>
                            </div>
                        {% endfor %}

                        </div>
                        <!-- end following -->
                 <!-- followed -->
                        <div class="tab-pane fade" id="followed">
                        {% for favorite in ufc %} 
 
                            <div class="media user-follower">
                                <img src="{{favorite.category.img_link}}" class="media-object pull-left">
								<div class="media-body">
								<a href="{{url_for('meals.meals_by_category', c_id = favorite.category_id)}}">@{{favorite.category.name}}<br><span class="text-muted username"</a>

                                        {% if current_user.id == user.id %}
                                                <a  style = "color:#fff" href = "{{url_for('meals.add_favorite_category' , category_id = favorite.category_id)}} " type="button" class="btn btn-sm btn-toggle-following pull-right"><i class="fa fa-checkmark-round"></i> <span>Remove</span></a>
                                        {% endif %}
								</div>
                                
                            </div>
                        {% endfor %}
                        </div>
                        
                        <!-- end followed -->
			<!-- friendy -->
			<div class="tab-pane fade" id="friendy">
                        {% for fellow in friends %} 
              		<div class="media user-follower">
			<div class="media-body">
				{% if u_id == fellow.receiving_user_id %}
					<img src="{{url_for('users.static' ,  filename='profile_pics/'+fellow[0].image_file) }}" alt="Avatar" class="avatar img-circle">
					<a href="{{url_for('users.users_profiles', u_id = fellow.requesting_user_id)}}">{{fellow[0].username}}<br><span class="text-muted username"</a>
            					{%else%}										
							{%for usr in user_extra%}
							{% if usr.id == fellow.receiving_user_id%}																
								<img src="{{url_for('users.static' ,  filename='profile_pics/'+usr.image_file) }}" alt="Avatar" class="avatar img-circle">										
								<a href="{{url_for('users.users_profiles', u_id = fellow.receiving_user_id)}}">{{usr.username}}<br><span class="text-muted username"</a>
							{%endif%}
							{%endfor %}			
					{% endif%}
				</div>                                
                            </div>
                        {% endfor %}
                        </div>
                        <!-- end friendly-->	

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
