{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href={{ url_for('users.static', filename='create_recipe.css') }}  />
    <div class="content-section"> 
        <form method="POST" action="">
            <fieldset class="form-group">
                {% if error %}
                <div class='alert alert-danger'>
                    <p ><strong>Error:</strong> {{ error }}
                </div>
                {% endif %}

    <div class="demo-btns">
		<div class="info">
			<div class="buttons">
				<p>
					<a href="" data-modal="#modal" class="modal__trigger">Select Category and Area</a>
					<a href="" data-modal="#modal2" class="modal__trigger">Select Ingredients</a>
					<a href="" data-modal="#modal3" class="modal__trigger">Instruction and Title</a>
				</p>
			</div>
			<p><input id="btn-save" type="submit" class="btn btn-primary" value='Add Your Recipe'></input></p>
		</div> 
	</div>

	<!-- Modal -->
	<div id="modal" class="modal  modal--align-top  modal__bg" role="dialog" aria-hidden="true">
		<div class="modal__dialog">
			<div class="modal__content">
				<h1>Modal</h1>
				    <span>Select area </span>
                <select name ='area'>
                    {% for area in  context.areas %}
                        <option value={{area.name}}>
                        {{area.name}}
                        </option>
                    {% endfor %}
                </select>
                <br/>
                <span>Select Category </span>

                <select name='category'>
                    {% for categ in  context.categ %}
                        <option value={{categ.name}}>
                        {{categ.name}}
                        </option>
                    {% endfor %}
                </select> 
				<!-- modal close button -->
				<a href="" class="modal__close demo-close">
					<svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
				</a>
				
			</div>
		</div>
	</div>


	<div id="modal2" class="modal modal--align-top modal__bg" role="dialog" aria-hidden="true">
		<div class="modal__dialog">
			<div class="modal__content">
				<h1>Select Your Ingredients</h1>
                <p>Sorted by Alphabet</p>
                {% for elem in alp.items() %}
               <ul id="accordion" class="accordion">
                <li>
                    <div class="link"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>{{elem[0]}}<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                    {% for ingr in alp[elem[0]]  %}
                    <li><input type="checkbox" value='{{ingr.name}}' name="ingredients">{{ingr.name}}</input></li>
                    {% endfor %}
                    </ul>  
                </li>
                <li>
                    {% endfor %}
				<!-- modal close button -->
				<a href="" class="modal__close demo-close">
					<svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
				</a>
			</div>
		</div>
	</div>
                
	<div id="modal3" class="modal  modal--align-top  modal__bg" role="dialog" aria-hidden="true">
		<div class="modal__dialog">
			<div class="modal__content">
				<h1>Recipe info</h1>
                  <div class="form-group">
                    <label for="meal_title">Title</label>
                    <input type="text" class="form-control" id="meal_title" name="title" placeholder="Meal title">
                </div>
                <div class="form-group">
                    <label for="meal_textarea" >Instruction</label>
                    <textarea id="meal_textarea" class="form-control" rows="10" placeholder="Instruction" name='content'></textarea>
                </div>
                
                
				<!-- modal close button -->
				<a href="" class="modal__close demo-close">
					<svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
				</a>
			</div>
            
		</div>

        
	</div>

<legend class="head_text border-bottom mb-4">Add Your Yummy Recipe , Now !</legend>
  

        </form>
    </div> 

{% endblock content %}