{% extends 'index.html' %}


   
{% block title %}
Meal main page
{% endblock title %}



{% block content %}
    <link rel="stylesheet" href={{ url_for('meals.static', filename='css/main.css') }}  />

<div class="flexbox">
  {% if meallist.items|length == 0  %}
    <p>Nothing Found !</p>
  {% endif %}
    {% for meal in meallist.items %}
        <div class="food-card" style="background-image:url(
          {% if meal.author_id != 1 %}
            {{url_for('meals.static' ,filename = meal.img_link )}}
          {% else %}
            {{meal.img_link}}
          {% endif %}
          );">
    <div class="food-card-content">
      <div class="heading show">
        <h2>{{meal.name}}</h2>
      <div class="shadow"></div>
      </div>
      <div class="heading author show">
        <h5>By <a href="{{url_for('users.users_profiles' , u_id = meal.user.id)}}" class="profile">{{meal.user.username}}</a></h5>
      <div class="shadow"></div>
      </div>
      <div class="hover-content">
      <div class="food-card-properties">
        <div><i class="fa fa-globe" aria-hidden="true"></i><p>{{meal.area.name}}</p></div>
        <div><i class="fa fa-tag" aria-hidden="true"></i><p>{% if meal.tags == None %} - {% else %} {{meal.tags}} {% endif %}</p></div>
        <div><i class="fa fa-cutlery" aria-hidden="true"></i><p>{{meal.category.name}}</p></div>
      </div>  
        <hr>
        <div class="content">{{meal.instructions}}<div class="show-less"></div></div>
        <a href={{url_for('meals.meal_info' ,m_id=meal.id) }} class="view-more">View More-></a>
      </div>
    </div>
  </div>


    {% endfor %}
</div> 

<div class="nav_btns">
{% if prev_url %}
    <a href="{{ prev_url }}"> Newer meals  </a>
    {% endif %}
    {% if next_url %}  
    <a href="{{ next_url }}">  Older meals </a>
    {% endif %}
</div>
   

{% endblock content %}
    