{% extends 'admin/master.html' %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Admin -  main page </h1>

<a href= {{url_for('adm.send_mails')}}>Notify users about new Recipes</a> 
<br/>
<a href= {{url_for('adm.update_db')}}>Update database</a> 
 <br/>

 <h4>Support messages</h4>
{% for msg in users_msgs.items %}
<br/>
<p>{{msg.date_posted|timeagofilter}}</p>
<p>{{msg.user.username}}</p>
<p>{{msg.content}}</p>
{% endfor %}


{% for page_num in users_msgs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if users_msgs.page == page_num %}
                            <a class="btn btn-info mb-4" href="{{ url_for('admin.index' , page=page_num) }}">{{ page_num }}</a>
                        {% else %}
                            <a class="btn btn-outline-info mb-4" href="{{ url_for('admin.index', page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                    
{% endfor %}

{% endblock body %}

